.ficha-producto {
    background-color: white;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
   
  }
  
  .ficha-producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  }
  