.ficha-producto {
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
}

h2 {
    color: black;
}

.precio {
    font-weight: bold;
    color: black;
}

.imagen-producto {
    width: 50%;
    border-radius: 1px;
    margin-bottom: 5px;
}

.btn-carrito {
    background: darkcyan;
    color: white;
    padding: 5px 10px;
    border-radius: 0.1px;
    cursor: pointer;
}

.btn-carrito:hover {
    background: lightcyan;
}