.pie-ficha {
    padding: 12px 15px;
    border-top: 1px solid black;
    text-align: center;
  }
  
  .precio {
    font-weight: bold;
    font-size: 16px;
    color: darkgreen;
  }
  
 .oferta {
    color: red;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .sin-stock {
    color: red;
    font-weight: bold;
  }
  