body {
    margin: 0;
    font-family: sans-serif;
    background: #1e1e1e;
    color: white;
  }
  
  .app {
    padding: 20px;
  }
  
  .layout {
    display: flex;
    gap: 30px;
  }
  
  .productos {
    flex: 2;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .card {
    background: #2b2b2b;
    padding: 15px;
    border-radius: 8px;
  }
  
  .card button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
  }
  
  .carrito {
    flex: 1;
    background: #263238;
    padding: 20px;
    border-radius: 10px;
  }
  
  .item-carrito {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
  }
  
  .acciones button {
    margin-left: 5px;
  }
  
  .eliminar {
    background: #e53935;
    color: white;
  }
  
  .total {
    color: #4cafef;
    font-size: 24px;
    margin-top: 20px;
  }
  